extends base.pug

block title 
    title Register Page

block content
    div.form-main
        form(action="/register" method = "post")
            h3.mb-4 SignUp Page 
            div.mb-3.form-floating
                input(type="name" name="name" placeholder = "Enter Your Name").form-control#name
                label(for="name") Name
            div.mb-3.form-floating
                input(type="email" placeholder="abc@gmail.com" name="username").form-control#email
                label(for="email") Email Address
            div.mb-3.form-floating
                input(type="password" placeholder="Password" name="password").form-control#password
                label(for="password") Password
            if error && error.length > 0
                div.message.text-danger * #{error}
            if success && success.length > 0
                div.message.text-primary * #{success}
            button(type="submit").btn.btn-primary.btn-lg.w-100 Register
        div(style = "text-align: center").mt-4
            p Already have an account? #[a(href="/login") Login]