.form-main {
    width: 100%;
    max-width: 380px;
    padding: 15px;
    margin: 30px auto;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab,silver, #ee7752);
    background-size: 400% 400%;
    animation: back-gradient 15s ease infinite;
}

@keyframes back-gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

.psl {
    background-image: linear-gradient(to bottom right,red, violet, blue, orange, green);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

button a {
    text-decoration: none;
    color: white;
}

.message {
    font-size: 1.2em;
    padding: 1px;
    margin-bottom: 1rem;
}
